<% include ../partials/header %>
<div class="class=row justify-content-center text-center">
  <h1 style="text-align: center">DWNATE <%= campaign.name %></h1>
  <div style="width: 100%; margin: 25px auto; text-align: center">




    <form action="/charge" method="post" id="payment-form">
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>

      <button>Submit Payment</button>
    </form>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/scripts/payment.js"></script>


    <a href="/campaigns">Go Back</a>
  </div>
</div>


<div style="height: 400px"></div>
<% include ../partials/footer %>
