<% include ../partials/header %>
    <div class="class=row justify-content-center text-center">
        <h1 style="text-align: center">DWNATE <%= campaign.name %></h1>
        <div style="width: 20%; margin: 25px auto; text-align: center">
            <form action="/campaigns/<%= campaign._id %>/comments" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" name="comment[amount]" placeholder="amount">

                  <form action="your-server-side-code" method="POST">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                      data-amount="comment[amount]"  
                      data-name="Stripe.com"
                      data-description="Widget"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-locale="auto"
                      data-zip-code="true">
                      </script>
                    </form>

                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campaigns">Go Back</a>
        </div>
    </div>


    <div style="height: 400px"></div>
<% include ../partials/footer %>
