<% include ../partials/header %>
  <h1 style="text-align: center"> <%= comment.author.username %> dwnated $<%=comment.amount %> </h1>
  <h2 style="text-align: center"> Share your dwnation </h2>

  


  <meta name="twitter:card" content="Dwnate">
  <meta name="twitter:url" content="https://davidwalsh.name/twitter-cards">
  <meta name="twitter:title" content="How to Create a Twitter Card">
  <meta name="twitter:description" content="Twitter's new Twitter Cards API allows developers to add META tags to their website, and Twitter will build card content from links to a given site.">
  <meta name="twitter:image" content="https://davidwalsh.name/wp-content/themes/punky/images/logo.png">

<% include ../partials/footer %>
