<% include ../partials/header %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<html>
<head>
  <title>Your Website Title</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="www.dwnate.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Dwnate" />
  <meta property="og:description"   content="Money Talks" />
  <meta property="og:image"         content="http://m.wsj.net/video/20120525/052512dislikefix/052512dislikefix_1280x720.jpg" />
</head>
<body>
  <h1 style="text-align: center"> <%= comment.author.username %> dwnated $<%=comment.amount %> </h1>
  <h2 style="text-align: center"> Share your dwnation </h2>

  <div class="class=row justify-content-center text-center">
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</body>

<% include ../partials/footer %>
</html>
