<% include ./partials/header %>

	<body>

	<section class="hero">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<h1><i class="fa fa-arrow-circle-down"></i>DWNATE</h1>
					<h2>Tell politicians how you feel in a way they'll under$tand</h2>
					<!--<a href="/about_us" class="btn btn-lg btn-default">How it works</a>-->
					<a href="/campaigns" class="btn btn-lg btn-outline-light">Get Started</a>
				</div>
			</div>

		</div>
	</section>
	<section class="team" id="team">
		<div class="container">
			<div id="explainer">
				<p>Politicians spend most of their time raising money while incumbents often don't face a serious general election challenger. Express your dissatisfaction in a way they'll hear and help give voters better options next time around by pledging to a primary race today. Your dollars go further and their influence is stronger in primaries because even if a challenger is unsuccessful the risk of losing can change the winner’s subsequent behavior.</p>
				<h2><i class ="fa fa-money"></i></h2>
				<p>Pledge to donate to a primary race</p>
				<h2><i class ="fa fa-share"></i></h2>
				<p>Amplify your donation by sharing it. You're total amount is bundled additional Dwnations made using your personal sharing link</p>
				<h2><i class ="fa fa-line-chart"></i></h2>
				<p>Track the amount raised in real time</p>
				<h2><i class ="fa fa-calendar"></i></h2>
				<p>You retain control of which declared candidate to support in the race</p>
			</div>
		</div>
	</section>



	</body>

<% include ./partials/footer %>