<!DOCTYPE html>
<html lang="en">

<section>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>DWNATE</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body>

		<div id="landing-header">
			<h1><i class="fa fa-arrow-circle-down"></i>DWNATE</h1>
			<h2>Tell politicians how you feel in a way they'll under$tand</h2>
			<!--<a href="/about_us" class="btn btn-lg btn-default">How it works</a>-->
			<a href="/campaigns" class="btn btn-lg btn-default">Get Started</a>
		</div>
		<div id="explainer">
			<p>Politicians spend most of their time raising money while incumbents often don't face a serious general election challenger. Express your dissatisfaction in a way they'll hear and help give voters better options next time around by pledging to a primary race today. Your dollars go further and their influence is stronger in primaries because even if a challenger is unsuccessful the risk of losing can change the winner’s subsequent behavior.</p>
			<h2><i class ="fa fa-money"></i></h2>
			<p>Pledge to donate to a primary race</p>
			<h2><i class ="fa fa-share"></i></h2>
			<p>Amplify your donation by sharing it. You're total amount is bundled additional Dwnations made using your personal sharing link</p>
			<h2><i class ="fa fa-line-chart"></i></h2>
			<p>Track the amount raised in real time</p>
			<h2><i class ="fa fa-calendar"></i></h2>
			<p>You retain control of which declared candidate to support in the race</p>
		</div>
	</body>
</section>

<% include ./partials/footer %>