<% include ./partials/header %>

	<body>

	<section class="hero">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<h1><i class="fa fa-arrow-circle-down"></i>DWNATE</h1>

					<h2>Tell congress how you feel in a way they'll under$tand</h2>

					<hr/>
					<p style="color:#fff">Donating to a primary challenger can be  <a href="http://fieldexperiments-papers2.s3.amazonaws.com/papers/00246.pdf">more than 2 times</a> more effective than donating to an incumbent, <a href="https://www.nytimes.com/2014/10/08/upshot/a-campaign-dollars-power-is-more-valuable-to-a-challenger.html">who have to spend much more for each marginal vote</a>, and most of whom <a href="https://www.cookpolitical.com/ratings/house-race-ratings">don't face a serious general election challenge</a>, making the primary their only real risk of losing office. We're building a platform to help you express your dissatisfaction in a way they'll be sure to hear.</p>
					<!--<a href="/about_us" class="btn btn-lg btn-default">How it works</a>-->
					<!--<a href="/campaigns" class="btn btn-lg btn-outline-light">Get Started</a>-->
					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
						<form action="https://dwnate.us18.list-manage.com/subscribe/post?u=1bb87a94ca078597e42e1d28b&amp;id=b27636801c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
								<!--<label for="mce-EMAIL">Subscribe to our mailing list</label>-->
								<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email me when it's ready" required>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1bb87a94ca078597e42e1d28b_b27636801c" tabindex="-1" value=""></div>
								<h3 style="font-size:16px">*Must be a U.S. citizen or lawfully admitted permanent resident, and 18 years or older to contribute.</h3>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-outline-light"></div>
							</div>
						</form>
					</div>

					<!--End mc_embed_signup-->
				</div>
			</div>

		</div>
	</section>
	<section class="team" id="team">
		<div class="container">
			<img style="height: 100%" class="img-responsive" src="/img/mockup.jpg">
			<div id="explainer">
				<div class = "row">
					<div class="col-md-3">
						<h2><i class ="fa fa-money"></i></h2>
						<h3>Donate</h3>
						<p>Have a real impact by pledging to donate to a primary race</p>
					</div>
					<div class="col-md-3">
						<h2><i class ="fa fa-share"></i></h2>
						<h3>Share</h3>
						<p>Amplify your donation by sharing it. Your total amount is bundled with additional pledges made using your personal sharing link</p>
					</div>
					<div class="col-md-3">
						<h2><i class ="fa fa-line-chart"></i></h2>
						<h3>Track</h3>
						<p>See how yours and others donations add up over time. Rome wasn't sacked in a day</p>
					</div>
					<div class ="col-md-3">
						<h2><i class ="fa fa-calendar"></i></h2>
						<h3>Allocate</h3>
						<p>You retain full control over which candidate to send your donation to</p>
					</div>
				</div>
			</div>
		</div>
		<hr />
	</section>



	</body>



<% include ./partials/footer %>
