<% include ./partials/header %>

	<body>

	<section class="hero">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<h1><i class="fa fa-arrow-circle-down"></i>DWNATE</h1>
					<h2>Tell politicians how you feel in a way they'll under$tand</h2>
					<!--<a href="/about_us" class="btn btn-lg btn-default">How it works</a>-->
					<a href="/campaigns" class="btn btn-lg btn-outline-light">Get Started</a>
				</div>
			</div>

		</div>
	</section>
	<section class="team" id="team">
		<div class="container">
			<div id="explainer">
				<p>Donating to a primary challenger can be more than <a href="https://ostromworkshop.indiana.edu/pdf/seriespapers/2014f_c/filhopaper.pdf">2X more effective</a> than donating to an incumbent. Politicians spend most of their time raising money while incumbents often don't face a serious general election challenge, making the primary their only real risk of losing office. Express your dissatisfaction in a way they'll hear today.</p>
				<h2><i class ="fa fa-money"></i></h2>
				<h3>Donate</h3>
					<p>Show how you feel by pledging to donate to a primary race</p>
				<h2><i class ="fa fa-share"></i></h2>
				<h3>Share</h3>
					<p>Amplify your donation by sharing it. Your total amount is bundled with additional pledges made using your personal sharing link</p>
				<h2><i class ="fa fa-line-chart"></i></h2>
				<h3>Track</h3>
					<p>See how yours and others donations add up over time. Rome wasn't sacked in a day</p>
				<h2><i class ="fa fa-calendar"></i></h2>
				<h3>Allocate</h3>
					<p>When the filing deadline has passed, donate your funds the the candidate of your choosing</p>
			</div>
		</div>
	</section>



	</body>

<% include ./partials/footer %>