<% include ./partials/header %>

<section>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>DWNATE</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body>

		<div id="landing-header">
			<h1><i class="fa fa-arrow-circle-down"></i>DWNATE</h1>
			<h2>Politics' Dislike Button</h2>
			<!--<a href="/about_us" class="btn btn-lg btn-default">How it works</a>-->
			<a href="/campaigns" class="btn btn-lg btn-default">Get Started</a>
		</div>
		<div id="explainer">
			<p> Politicians spend most of their time raising money while incumbents often don't face a serious general election challenger. Express your dissatisfaction in a way they'll hear and help give voters better options next time around by pledging to a primary race today.</p>
			<h2><i class ="fa fa-money"></i></h2>
			<p>Pledge to donate to a priamry race</p>
			<h2><i class ="fa fa-share"></i></h2>
			<p>Amplify your donation by sharing it. You're total amount raised includes additional Dwnations made using your link</p>
			<h2><i class ="fa fa-table"></i></h2>
			<p>Reach the top of the leaderboard</p>
			<h2><i class ="fa fa-line-chart"></i></h2>
			<p>Track the amount raised in real time</p>
			<h2><i class ="fa fa-calendar"></i></h2>
			<p>When the filing deadline for the incumbent's party primary is reached, select the candidate you support</p>


		</div>


		<!--<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>-->

	</body>
</section>

<% include ./partials/footer %>