<% include ./partials/header %>
<body>
  <section class="placeholder">
    <div class="container text-center">
      <h2>We're still putting the finishing touches on Dwnate</h2>
      <img src="/img/bagMan.jpg">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://dwnate.us18.list-manage.com/subscribe/post?u=1bb87a94ca078597e42e1d28b&amp;id=b27636801c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email me when it's ready" required>
             <!--real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1bb87a94ca078597e42e1d28b_b27636801c" tabindex="-1" value=""></div>
            <h3 style="font-size:16px">*Must be a U.S. citizen or lawfully admitted permanent resident, not a federal contractor, and 18 years or older to contribute.</h3>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-outline-success">
            </div>
          </div>
        </form>
      </div>
    </div>
      <!--End mc_embed_signup-->
  </section>



</body>

<% include ./partials/footer %>
