<% include ./partials/header %>
<body>
  <section class="placeholder">

      <h1>We're still putting the finishing touches on DWNATE</h1>
      <img src="/img/bagMan.jpg">
      <h2>We'll email you when we're ready.</h2>
    
  </section>



</body>

<% include ./partials/footer %>
