<% include ./partials/header %>
<section id="auth">
    <div class="container">
        <div class="row  justify-content-center text-center">
            <div class="col-md-12">
                <div class="register"  style="margin: auto">
                    <h2>Sign Up</h2>
                    <h3 style="font-size:16px">Must be a U.S. citizen or lawfully admitted permanent resident, not a federal contractor, and 18 years or older to contribute.</h3>
                    <form action="/register" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="address[street1]" placeholder="street 1">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="address[street2]" placeholder="street 2">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="address[city]" placeholder="city">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="address[zip]" placeholder="zip">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="profession" placeholder="profession">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="employer" placeholder="employer">
                        </div>
                        <button class="btn btn-primary btn-lg bg-ghost btn-block">Sign Up!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer %>
