<% include ../partials/header %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">About Us</h2>
        <div class="card">
          <div class="card-header">
            Why would I give money to a politician?
          </div>
          <div class="card-body">
            <p class="card-text">
              You're probably asking yourself this question. Congress has a single digit approval rating and we all have better thigns to spend money on that giving it to someone who already seems to have plenty.
              This is why our elected representatives spend large amounts of time at fundraisers, asking people who can afford to spend $300 a plate for dinner for support. This raises about 1 billion dollars a year. Or about $6 per voter per year. This <a href="http://www.demos.org/publication/whose-voice-whose-choice-distorting-influence-political-donor-class-our-big-money-electi">distorts</a> the incentives for politicians who need their dononrs' support in order to keep their jobs as much as they need our votes.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            It's hopless, they're in a safe seat.
          </div>
          <div class="card-body">
            <p class="card-text">
              With political polarization, self sorting and gerrymanders affecting incentives on both sides of the isle, we've decided to focus on the primaries, where a challenge can shake even the safest incumbent.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Where does the money go? No one has challenged them yet.
          </div>
          <div class="card-body">
            <p class="card-text">
              When you dwnate you commit to contributing money in that race. You can tag your contribution with what motivated you to make that donation. Prior to the primary election you'll be asked to allocate your donation. Dwnate makes no recommendations on how you allot your funds, and you can even support the incumbent if you've changed your mind. If the candidate runs unopposed you'll recieve a refund.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            This seems really negative, aren't you horrible people?
          </div>
          <div class="card-body">
            <p class="card-text">
              Well..yes, but for other reasons.<br/>
              The reality of our current campaign fiance system is that money is protected as speech. This has opened up the rules for a lot of well capitalized speakers and special interests. We think the way to make the "money primary" more represntative of the will of the people is to bring more, not less, money into the political process. That's why we've created a platform to create competition where there was none and to create a feedback mechanism which they will hear loud and clear. Money Talks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% include ../partials/footer %>
