/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: rgb(250,250,250);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
	padding: 0;
	box-shadow: 0px 3px 4px -2px #222;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* campaign show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

#search-bar {
  height : 75px;
  font-size: 36pt;
}
